body {
    font-family : Arial, HElvetica, sans-serif;
    background-color: bisque;    
}

.head {
    color: rgb(0,0,0);
    background-color: rgb(255,150,0);
    text-align: center;
}

.one {
    color: brown;
    font-weight: 1000;
}

.two {
    font-size: 25px;
}

#lists {
    font-size : 25px;
    background-color: beige;
    text-align: center;    
}

#lists a{
    color: rgb(129, 106, 231);
    font-weight: 800;
    background-color: pink;
    padding: 8px;
    margin: 5px;
    border: 2px solid white;
    display: inline-block;
    text-decoration: none;
}

p {
    font-size: 20px;
}

.image {
    display: block;
    margin: 0px auto;
}