body {
    font-family : Arial, HElvetica, sans-serif;
    background-color: bisque;

}

.head {
    color: rgb(0,0,0);
    background-color: rgb(255,150,0);
    text-align: center;
    padding: 10px;
    
}

.p{
    text-align: center;
    font-size: 200px;
}

.one {
    color: brown;
    font-weight: 1000;
}

.two {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.lists,.lists1 {
    font-size : 25px;
    background-color: beige;
    text-align: center;
    height: 200px;

}

.lists{
    padding-top: 40px;
}

.lists1{
    padding: 15px;
}

.lists1 a{
    color: rgb(129, 106, 231);
    font-weight: 800;
    background-color: pink;
    padding: 8px;
    margin: 5px;
    border: 2px solid white;
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.description p {
    font-size: 20px;
    text-align: center;
}

.image {
    display: block;
    margin: 0px auto;
}

.list-container {

    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 10px;
    
}

.container {
    text-align: center;
}

